# SQL Interview Questions  - Quiz


## Introduction

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

What are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________
INTEGER - Any column that will store whole numbers
REAL - Any column that will store any real number other than an integer (i.e. numbers with decimals up to 15 characters long) 
TEXT - TEXT is for columns that would store strings.  Strings can be alphanumeric.
BLOB - Used for holding binary data.

Yes, SQLite3 will convert to one of the 4 types listed above.


## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Primary keys represent the columns of a table that uniquely identify a row.

Foreign keys are not the primary key for a particular table but represent a primary key in another table.


## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
One to One Join - Each row in one table is linked (or related) to a single row in another table.

One to Many Join - Each row in one table is linked (or related) to one or more rows in another table.

Many to Many Join - One or more rows in one table is linked to one or more rows in another table.  There are multiple entries for the shared field in tow tables.



## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
Inner Join - A joining of two tables where only the shared information between two tables is returned.
Right Join - A joining of two tables where all the information in the right table is kept and only the shared information from the left table is merged in with the right table.
Left Join - A joining of two tables where all the information in the left table is kept and only the shared information from the right table is merged in with the left table.
Outer Join - A join in which all information from two table are joined into one table.


## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The GROUP BY clause groups records into summary rows and returns one record for each group.  Typically, GROUP BY also involves an aggregate function so that summary statistics can be calculated.


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
A Join table can break a many-to-many relationship into two one-to-many relationships. The join field will include the primary keys of the two tables it is joining. In the join table they would be foreign keys. The foreign key fields are populated as records in the join table are created from either table it joins.


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.